@import '~bootstrap/scss/bootstrap';

.generated {
  border-bottom: 1px dashed #999;
}

.surface_form {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: normal;
}

.alternative {
  @extend .text-lighter;
}

.font-size-large {
  font-size: large;
}

.text-red {
  color: firebrick!important;
}

.text-lighter {
  color: rgba(0,0,0,0.3);
}

.text-shadow {
  text-shadow: 1px 1px 1px #ccc;
}

.highlight {
  @extend .rounded;
  background-color: transparentize($info, 0.8);
}
