@import '~bootstrap/scss/bootstrap';

.navbar-brand, .text-red {
  color: firebrick!important;
}

.generated {
  border-bottom: 1px dashed #666;
}

.surface_form {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: normal;
}

.alternative {
  @extend .text-lighter;
}

.text-lighter {
  color: rgba(0,0,0,0.3);
}
