@use '~bootstrap/scss/bootstrap';

.generated {
  border-bottom: 1px dashed #999;
}

.surface_form {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: normal;
}

.alternative {
  @extend .text-body-tertiary;
}

.text-red {
  color: firebrick!important;
}

.text-lighter {
  @extend .text-body-tertiary;
}

.text-shadow {
  text-shadow: 1px 1px 1px #ccc;
}

.highlight {
  @extend .rounded;
  --bs-bg-opacity: 0.2;
  @extend .bg-info;
  $p: .1rem;
  padding: 0 $p;
  margin: 0 -$p;
}
